body{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x:hidden;
}
.fullbody{
    margin:0;
    width:100%;
    background-color: white;
}

.topnav{
    border-bottom:1px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:fixed;
    width:100%;
    z-index:1;
    padding-top:5px;
    transition: 0.5s;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.topnav .logo{
    padding-top:4px;
    background-color: white;
}
.topnav .logo a{
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(138, 4, 4, 0.986);
    font-weight: bold;
    text-shadow:2px 2px 3px #000033;
    text-decoration: none;
    margin-left: 2%;
}
.topnav{
    display:flex;
    justify-content: space-evenly;
}
.topnav .elements{
    display:flex;
    justify-content: space-evenly;
    margin-left:10%;
}
.topnav .elements a{
    padding:20px 25px;
    text-decoration: none;
    color:black;
    font-size: 15px;
    background-color: white;
}
.topnav .elements .search{
    padding:15px;
    background-color: white;
    border-bottom: 1px solid black;
}

#search{
    height:30px;
    width:130px;
    border:none;
    font-size: medium;
}
#search:focus{
    outline:none;
}
.topnav .elements .search .search_btn{
    background-color: white;
    border: none;
    font-size: medium;
    color: rgb(3, 128, 121);
}

.topnav .elements .dropdown button{
    font-family: Cambria, Cochin, fantasy, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    height:100%;
    position:relative;
    text-align:center;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    padding: 22px 25px;
}

.topnav .elements .dropdown .ddelements{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    border:1px solid white;
    z-index: 1;
    min-width: 240px;
    background-color: white;
    box-shadow: 0px 5px 8px 0px rgb(130, 161, 160);
    margin:1px;
    display:none;
}
.topnav .elements .dropdown .ddelements a{
    font-size: 15px;
    color:black;
    padding:10px 24px;
}

.topnav .elements .ddelements a:hover{
    transition: 0.8em;
    color:rgb(2, 99, 94);
    background-color:rgb(199, 252, 248);
    border:none;
}

.topnav .elements a:hover{
    color:rgb(3, 128, 121);
    background: linear-gradient(rgba(133, 124, 124, 0),rgb(203, 250, 248));
}

.topnav .elements .dropdown button:hover{
    color:rgb(3, 128, 121);
    border-bottom:1px solid rgb(3, 128, 121);
    background: linear-gradient(rgba(133, 124, 124, 0),rgb(203, 250, 248));
}

.topnav .elements .dropdown:hover .ddelements, .topnav .elements .dropdown:hover button{
    display: flex;
    color:rgb(3, 128, 121);
    border-bottom:1px solid rgb(3, 128, 121);
    background: linear-gradient(rgba(133, 124, 124, 0),rgb(203, 250, 248));
}
.topnav .icon{
    visibility:hidden;
}
.topnav .after{
    visibility: hidden;
}
.fullbody .after .newelements, .fullbody .after .newicon, .fullbody .after .newlogo{
    visibility:hidden;
}

.topnav .elements .active{
    color:rgb(3, 128, 121);;
    background: linear-gradient(rgba(133, 124, 124, 0),rgb(203, 250, 248));
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form input[type="text"],.form input[type="password"]{
    width:250px;
    padding:10px;
    border:none;
    font-size: 17px;
    border-bottom: 1px solid brown;
}
.form input[type="text"]:focus,.form input[type="password"]:focus{
    width:250px;
    padding:10px;
    border:none;
    outline:none;
    border-bottom: 1px solid brown;
}
.form button{
    padding:10px 20px;
    background-color: inherit;
    border:1px solid tomato;
    border-radius: 6px;
    cursor: pointer;
}
.form button:hover{
    background-color: tomato;
    border:1px solid tomato;
    color:white;
    border-radius: 6px;
    transition:0.8s;
}
.form p{
    font-size: 20px;
}
.form span{
    font-size: 25px;
    padding-bottom:20px;
}

#models{   
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width:100%;
    margin:0px;
    padding-bottom: 10px;
    position: relative;
    left:0;
}
.bannerblock{
    padding-top:3%;
    overflow:hidden;
    background-color: white;
}
.title{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: white;
}
.body{
    overflow: visible;
}
.haramsec, .banglesec, .chainsec, .necklacesec{
    border: 1px solid white;
    margin: 0px;
    position: relative;
    text-align: center;  
    background-color: white;
}

#torch, #torch2, #torch3, #torch4{
    width:100%;
    height:100%;
    bottom:0;
    position: absolute;
    background: linear-gradient(rgba(133, 124, 124, 0),rgb(97, 155, 152));
    opacity: 0;
    transition: 1s;
}

.haramsec:hover #torch,.chainsec:hover #torch2,.banglesec:hover #torch3,.necklacesec:hover #torch4{
    opacity:1;
}
.banglesec{
    height:303px;
}
.haramsec{
    height:623px;
}
.chainsec{
    height:623px;
}
.necklacesec{
    height:303px;
}
.inner{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.haramimg, .bangleimg, .chainimg,.necklaceimg{
    background-repeat: no-repeat;
}
    
.harambutt, .banglebutt, .chainbutt,.necklacebutt{
    display:none;
}
.haramsec:hover img, .banglesec:hover img, .chainsec:hover img,.necklacesec:hover img{
    transition: 0.8 ease;
}
.haramsec:hover .harambutt, .chainsec:hover .chainbutt{
    position:absolute;
    top:250px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    display:block;
}
.banglesec:hover .banglebutt{
    position:absolute;
    top:150px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display:block;
}
.necklacesec:hover .necklacebutt{
    position:absolute;
    top:150px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display:block;
}
.harambutt button, .banglebutt button, .chainbutt button,.necklacebutt button{
    font-size: 15px;
    padding:10px;
    background-color:rgba(253, 253, 250, 0.986);
    color:black;;
    border-radius:20px;
    border:1px solid rgba(253, 253, 250, 0.986);
    cursor: pointer;
}
.harambutt button:hover, .banglebutt button:hover, .chainbutt button:hover, .necklacebutt button:hover{
    transition:0.8s;
    font-size: 16px;
    background-color:lightseagreen;
    color:white;
    box-shadow: 0 8px 16px 0 rgb(240, 180, 120), 0 6px 20px 0 rgb(37, 35, 31);
}



/* styling the models page */

.haram_layout{
    text-align: center;
    margin-top: 2%;
    background-color: white;
    width:100%;
}
.haram_layout p{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading_empty h2{
    margin-bottom: 20px;
    background-color:white;
    width:25%;
    height:360px;
    text-align: center;
    position:relative;
    overflow:hidden;
    text-align: center; 
    padding: 10px; 
    color: black;
}
.haram_layout .haram_layout_1, .heading_empty{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    background-color: white;
    width: 100%;
    text-align: center;
}
.haram_layout_1 .haramin_layout{
       margin-bottom: 20px;
       background-color:white;
       width:25%;
       height:360px;
       border:1px solid white;
       border-radius:20px;
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
       text-align: center;
       position:relative;
       cursor:pointer;
       overflow:hidden;
}


     .haram_layout_1 .haramin_layout .imgcode{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        color:black;
        background-color: inherit;
    }
.haram_layout_1 .haramin_layout img{
    border-radius: 40px;
    /*transform-origin: 50% 85%;*/
    transition: transform 1s, filter .5s ease-out;
    background-color: aliceblue;   
}

/*
.haram_layout_1 .haramin_layout:hover img{
    width:85%;
    height:85%;
    transform:scale(2);
}*/

.haram_layout .fav #on,.haram_layout .favactive #off{
    opacity:0;
}
.haram_layout .favactive #on,.haram_layout .fav #off{
    opacity:1;
}
.msg{
    background-color: green;
    position: absolute;
    left: 38%;
    top: 48px;
    width: 300px;
    color: white;
    padding: 10px;
    opacity:0;
    z-index: 3;
    border-radius: 7px;
    transition: 0.7s;
    display:none;
    animation: bottomtotop 1s ease-in-out;
    animation-delay: 10ms;
}
@keyframes bottomtotop {
    0% {
        transform: translateY(0px);
        opacity: 0.9;
    }
    25% {
           transform: translateY(0px);
           opacity: 0.9;
       }
    75% {
           transform: translateY(10px);
           opacity: 0.9;
       }
    100% {
        transform: translateY(-20px);
        opacity:0;
    }
}
.footer .heading p{
    padding: 20px;
    font-size: 20px; 
    font-family:Georgia,Serif;
}

.footer{
    width: 100%;
    position: relative;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    background-color: #000033;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
}
.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-body .general{
    padding-bottom: 40px;
}
.footer-body .general-table td{
    padding: 7px;
    font-size: 15px;
    float: left;
}
.footer .about{
    padding-bottom: 40px;
}
.footer-body .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-body .social a{
    padding: 5px;
    font-size: 20px;
}