{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
       <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" media="screen"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <style>
              .fared{
                     color: red;
                   }
              .normal{
                     color:rgb(134, 123, 123);
              }
            </style>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript">
   
              //document.getElementById("likesym").addEventListener("click", myFunction);

              function myFunction() {
                document.getElementById("likemsg").className = "msganimate";
              }
                   $(document).ready(function(){

                     $('.like-btn').on('click', function(){
                     
                            //alert("in");
                       var post_id = $(this).data('id');
                       //var post_type = $(this).data('type');
                      // var username = $(this).val();
                      //alert(post_id);
                       $clicked_btn = $(this);
                       //$likemsg = $('#likemsg');
                       if ($clicked_btn.hasClass('fa-heart fared')) {
                              action = 'like';
                              var url = "/wishlists/False";
                              
                       } else if($clicked_btn.hasClass('fa-heart normal')){
                              action = 'unlike';
                              var url = "/wishlists/True";
                       }
                       //var arg="HI";
                       $.ajax({
                              
                              url:url,
                             // type:"GET",
                              data: {
                                     'action': action,
                                     'post_id': post_id,
                              },
                              success: function(data){
                                     //alert(post_id);
                                     //res = JSON.parse(data);
                                     $('.wishlists').append(data)
                                    // alert(action);
                                     if (action == 'like') {
                                            //alert("colorin");
                                            $clicked_btn.removeClass('fa-heart fared');
                                            $clicked_btn.addClass('fa-heart normal');
                                            $('#unlikemsg').fadeIn('slow');  
                                            $('#unlikemsg').fadeOut();
                                     } else if(action == 'unlike') {
                                         // alert("colorin");
                                            $clicked_btn.removeClass('fa-heart normal');
                                            $clicked_btn.addClass('fa-heart fared');
                                            $('#likemsg').fadeIn('slow');  
                                            $('#likemsg').fadeOut(); 
                                     }
                            
                              }
                       });		
                     
                     });
                     
                     });
              </script>
       

</head>
<div class = "msg" id = "likemsg"> Added to the wishlist successfully</div>
<div class = "msg" id = "unlikemsg"> Removed from the wishlist</div>
<div class="haram_layout" id="layout"> 
       {% if res %}
       <p>BANGLE MODELS</p>
       <div class = "haram_layout_1">
       {% for bangle in res %}
       <div class="haramin_layout" id="innerlayout" >
              <img  src="{{bangle.item_image.url}}" width='80%' height='80%'>
              <div class="imgcode">
                     <p><span style="float:left;padding:15px;font-size:medium;font-family: copperplate;"> {{bangle.item_id}}</span><span style="float:right;padding:15px;font-size:medium;font-family: copperplate;">WEIGHT: {{bangle.item_weight}} Grams </span></p>
              </div>
              <div class="fav" style="top:0;right:0;position:absolute;padding:15px;">
                     <i {% if bangle.item_id not in items %} class="fa fa-heart normal like-btn" {% else %} class="fa fa-heart fared like-btn" {% endif %} style="font-size: 15px;"  value="{{bangle.item_type}}" data-type="{{bangle.item_type}}" data-id="{{bangle.item_id}}"></i>
              </div>
       </div> 
       </div>
       {% endfor %}
       {% else %}
       <div class = "heading_empty"><h2>NO BANGLE MODELS TO SHOW</h2></div>
       {% endif %}
        
</div>
      
{% endblock %}