
<!DOCTYPE html>
<head>
    {% load static %}  <!-- loads the static funtioinality -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="{% static 'css/style2.css' %}" rel="stylesheet"/> -->
    <link rel = "stylesheet" type = 'text/css' href = 'static/css/style2.css' >
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      function uuidv4(){
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c){
          var r=Math.random()*16|0,v=c=='x'?r:( r & 0x3 | 0x8);
          return v.toString(16)
        });
      }

      let device= getCookie('device')

      if (device== null || device==undefined){
        device=uuidv4()
      }
      document.cookie='device=' +device + ";domain=;path=/"
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("topnav").style.top = "0";
          } else {
            document.getElementById("topnav").style.top = "-100";
          }
          prevScrollpos = currentScrollPos;
        }

        function func(){
          var top=document.getElementById("topnav");
          
          var models=document.getElementById("models");
          if (top.className ==="fullbody" ){
            //alert("if");
            top.className+="bar";
            models.className+="media";
          }
          else{
            //alert("else");
            top.className="fullbody";
            
            models.className="models";
            
          }
        }
        function check(){
         //alert("check");
          var top=document.getElementById("topnav");
          var models=document.getElementById("models");
          var x=window.matchMedia("(max-width: 800px)");
          if(!x.matchs && top.className !="fullbody"){
              //alert("modeltop");
              top.className="fullbody";
              models.className="models";
          }
        }
        </script>

</head>
<body class="fullbody" id="topnav" onresize="check()">
<div class="topnav">                      <!-- div 1 topnavigation -->
    <div class="logo">                     <!-- div 2 logo -->
        <a href="{% url 'base' %}">PRCJ</a> <!-- one way of depictiing a link. -->
    </div>
    <div class="elements" id = 'topnav_active'>                  <!-- div 3 menu -->
      <a href="/" class = "ddbut"> HOME </a>
      <div class="dropdown">                <!-- div 4 models dropdown -->
        <button class="ddbut">MODELS</button>
        <div class="ddelements">            <!-- div 5 models -->
          <a href="banglefunc" >BANGLES</a>
          <a href="haramfunc" >HARAMS</a>
          <a href="chainfunc" >NACKLACES</a>
          <a href="chainfunc" >CHAINS</a>
      </div>
      </div>
      <a href="display" class = "ddbut"> WISHLIST</a>
      <a href="#footer" class = "ddbut"> CONTACT</a>

      <div class="search">                  <!-- div 5 search bar -->
      <form action="search" method="POST" autocomplete="off">
        {% csrf_token %}
      <input type="text" name="search" id="search" placeholder="Search for Models">
      <button class = 'search_btn'><i class="fa fa-search"></i></button>
        </form>
    </div>
      
      </div>
      <a href="javascript:void(0);" class="icon" onclick="func()"><i class="fa fa-bars"></i></a>
</div>
<script>
  /*
  var btnContainer = document.getElementById("topnav_active");
  var btns = btnContainer.getElementsByClassName("ddbut");
  //alert(btns.length);
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      //alert(current[0].className);
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      //alert(this.className);
    });
  }
  */
</script>
    <div class="after" style="background-color: white;">    <!-- div 6 Topnav after resize -->
      <div class="afterbody">
      <div class="newlogo">
        <a href="">PRCJ</a>
    </div>
    <div class="newelements">
      <a href="" >RINGS</a>
      <a href="" >NECKLACES</a>
      <a href="" >HANGINGS</a>
      <a href="" >CHAINS</a>
      <a href="" >BRACELETS</a>
      <a href="" > WISHLIST</a>
      <a href="" > CONTACT</a>
    </div>
    <a href="javascript:void(0);" class="newicon" onclick="func()">
      <i class="material-icons">close</i></a>
  </div>
  </div>
  


{% block banner %}
{% endblock %}

<div class= "body" >      <!-- div 7 content -->
  {% block content %}
  {% endblock %}
</div>

<div class = "footer" id = "footer">
  <div class = "heading"> <p> Get In Touch </p></div> <!-- PUJYA RAM CHANDRA JEWELRY -->
  <div class = "footer-body">
    <div class = "general">
      <table class = "general-table">
        <tr> 
          <td><i class="fa fa-map-marker"></i></td> <td>2-32-04, Sharaff Bazar<br>522201, Tenali, India</td>
        </tr>
        <tr> 
          <td><i class="fa fa-phone"></i></td> <td> +91 9010186899 </td>
        </tr>
        <tr> 
          <td><i class="fa fa-envelope"></i></td> <td>pujyaramchandra@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="about">
    <p style = "font-size:20px;"> ABOUT </p>
    <p> Lorem ipsum dolor sit amet,<br>
      consectateur adispicing elit. Fusce<br>
      euismod convallis velit, eu auctor lacus<br>
      vehicula sit amet.</p>

    <div class = "social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
  </div>
  </div>

</body>

</html>
